<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2WCp1djkP2ss0KSYiX34sYqKuhx5aEH8</string>
	<key>GCM_SENDER_ID</key>
	<string>765657516408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCafeAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-5368672327624315569</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5368672327624315569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765657516408:ios:010fb9a85136573e09208d</string>
</dict>
</plist>